.rightheader{display:flex;
    justify-content: flex-end;}
    
    *{background-image:linear-gradient(rgb(160, 134, 134), rgb(87, 88, 165));}


    h1{width:fit-content;
background-color:red;}

.contact{width:fit-content;
box-sizing:border-box;}



  